.cms-menu {
    position:absolute;
    z-index: 900;
    display:none;
}
.cms-menu div {
    padding:3px;
    background-color:#222;
    border:1px solid #333;
    opacity:0.9;
    border-radius:3px;
}
.cms-menu ul {
    margin:0px;
    padding:0px;
    clear:both;
    list-style-type:none;
}
.cms-menu ul li {
    float:left;
    line-height:0.8em;
}
.cms-menu ul li a {
    background-color:#222;
    background-repeat:no-repeat;
    display:inline-block;
    cursor:pointer;
    opacity:0.75;
    padding:3px;
    text-decoration: none;
    border:1px solid transparent;
}
.cms-menu ul li a:hover {
    background-color:#444;
    border:1px solid #444;
    opacity:1;
}
.cms-menu ul li a span {
    float:left;
    margin:1px;
}