body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
}

#page
{
	margin-top: 5px;
	margin-bottom: 5px;
	background: white;
	border: 1px solid #C9E0ED;
}

#header
{
	margin: 0;
	padding: 0;
	border-top: 3px solid #C9E0ED;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
}


div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #C9E0ED;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

.cms-empty-area {
	height:100px;	
}

.cms-pageunit-highlight
{
	background:lightblue;
}

.top {
	position:absolute;
	top:0px;
}
.fixed {
	position:fixed;
}

.cms-panel {
	display:none;
	z-index:100000;
	background:white;
	border-radius:10px;
	border:1px solid lightblue;	
	opacity:0.95;
}

#cms-info {
	padding:0.5em 1em;
	margin:5px 0;
	text-align:center;
	font-size:1.1em;
}

.cms-pageunit-menu {
	position:absolute;
	cursor:default;
}
.cms-pageunit-menu ul {
	list-style:none;
	margin:0px;
	padding:0px;	
}
.cms-pageunit-menu li {
	display:block;
	margin:6px 12px;	
}
.cms-pageunit-menu li a {
	line-height:0px;
	font-size:0px;
}

#cms-pageunit-add ul {
	width:200px;
	float:left;
}

#cms-pageunit-delete ul, #cms-pageunit-set ul  {
	width:200px;
}

.cms-splash ul {
	list-style:none;
	margin:0px;
	padding:0px;	
}
.cms-splash li {
	display:block;
	margin:6px 12px;
}
.cms-splash li a {
	text-decoration:none;
}


.cms-button-big {
	width:32px;
	height:32px;	
}
.cms-button-medium {
	width:24px;
	height:24px;
}
.cms-button-small {
	width:16px;
	height:16px;
}

.cms-button:hover {
	background-color:#f8f8f8;
}
.cms-button {
	text-decoration:none;
	font-size:1.2em;
}

.cms-button,
.cms-button-big,
.cms-button-medium,
.cms-button-small {
	display:block;
	padding:6px;
	background-position:center;
	background-repeat:no-repeat;
	background-color:white;
	border:1px solid lightgray;
	cursor:pointer;
	color:black;
}
.cms-button:hover {
	border:1px solid lightblue;
}
.cms-button:active {
	/*background-position:7px 7px;*/
	padding:7px 5px 5px 7px;
}
.cms-button-add {
	background-image:url('/images/icons/iconic/light_gray/plus_32x32.png');
}
.cms-button-add:hover {
	background-image:url('/images/icons/iconic/cyan/plus_32x32.png');
}
.cms-button-delete {
	background-image:url('/images/icons/iconic/light_gray/trash_stroke_32x32.png');
}
.cms-button-delete:hover {
	background-image:url('/images/icons/iconic/cyan/trash_stroke_32x32.png');
}
.cms-button-up {
	background-image:url('/images/icons/iconic/light_gray/arrow_up_32x32.png');
}
.cms-button-up:hover {
	background-image:url('/images/icons/iconic/cyan/arrow_up_32x32.png');
}
.cms-button-down {
	background-image:url('/images/icons/iconic/light_gray/arrow_down_32x32.png');
}
.cms-button-down:hover {
	background-image:url('/images/icons/iconic/cyan/arrow_down_32x32.png');
}
.cms-button-move {
	background-image:url('/images/icons/iconic/light_gray/move_alt1_32x32.png');
}
.cms-button-move:hover {
	background-image:url('/images/icons/iconic/cyan/move_alt1_32x32.png');
}
.cms-button-edit {
	background-image:url('/images/icons/iconic/light_gray/cog_32x32.png');
}
.cms-button-edit:hover {
	background-image:url('/images/icons/iconic/cyan/cog_32x32.png');
}

.cms-button-medium-editmode {
	background-image:url('/images/icons/iconic/light_gray/cursor_24x24.png');	
}
.cms-button-medium-editmode:hover {
	background-image:url('/images/icons/iconic/cyan/cursor_24x24.png');	
}
.cms-button-medium-edit {
	background-image:url('/images/icons/iconic/light_gray/cog_24x24.png');
}
.cms-button-medium-edit:hover {
	background-image:url('/images/icons/iconic/cyan/cog_24x24.png');	
}
.cms-button-medium-add {
	background-image:url('/images/icons/iconic/light_gray/plus_24x24.png');	
}
.cms-button-medium-add:hover {
	background-image:url('/images/icons/iconic/cyan/plus_24x24.png');	
}
.cms-button-medium-settings {
	background-image:url('/images/icons/iconic/light_gray/equalizer_24x24.png');	
}
.cms-button-medium-settings:hover {
	background-image:url('/images/icons/iconic/cyan/equalizer_24x24.png');	
}
.cms-button-medium-sitemap {
	background-image:url('/images/icons/iconic/light_gray/calendar_alt_stroke_24x24.png');	
}
.cms-button-medium-sitemap:hover {
	background-image:url('/images/icons/iconic/cyan/calendar_alt_stroke_24x24.png');	
}
.cms-button-medium-files {
	background-image:url('/images/icons/iconic/light_gray/folder_stroke_24x24.png');	
}
.cms-button-medium-files:hover {
	background-image:url('/images/icons/iconic/cyan/folder_stroke_24x24.png');	
}
.cms-button-medium-exit {
	background-image:url('/images/icons/iconic/light_gray/x_21x21.png');	
}
.cms-button-medium-exit:hover {
	background-image:url('/images/icons/iconic/cyan/x_21x21.png');	
}

.hidden {
	display:none;
}
.selected {
	background-color:#FF4040 !important;
}
.potential {
	background-color:#F0F0FF !important;
}
form input, form label, form select {
	font-size:1.1em !important;
}
.hover {
	background-color:rgb(244, 255, 244) !important;
}

.cms-toolbar {
	display: block !important;
	position:fixed;
	right:10px;
	top:20px;
	width:92px;
	padding:5px 10px;
	cursor:move;
}
#cms-toolbar ul {
	float:left;
	margin:0px;
}
#cms-toolbar ul li {
	margin:8px 4px;
}

input.cms-button,
input.cms-button-big,
input.cms-button-medium,
input.cms-button-small
{
	text-align: center;
}
div.cms-button, input.cms-button {
	font-size:0.95em !important;
}

.w200 {
	width:196px;
	text-align: center;	
}
.w400 {
	width:396px;
	text-align: center;	
}
input.w200 {
	width:210px;
}

/*
.cms-unit-menu ul li
{
	display: inline;
}

.cms-unit-menu ul li a
{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}
*/


ul.dropdown {
	height:2em;
}
ul.dropdown, ul.dropdown ul {
	list-style: none;
	background:white url(bg.gif) repeat left top;
	padding:0;
	margin:0;
}

ul.dropdown li {
	float: left;
	zoom: 1;
	background:white url(bg.gif) repeat left top;
}
ul.dropdown a:hover {	
	color: #000;
}
ul.dropdown a:active {
	color: #ffa500;
}
ul.dropdown li a {
	display: block;
	padding: 5px 8px; 
	color: #fff;
	background: transparent;
	text-decoration:none;
}
ul.dropdown li.hover, ul.dropdown li:hover {
	color: black;
	position: relative;
}
ul.dropdown li.hover a {
	color: black;
}

ul.dropdown ul {
	width: 220px;
	visibility: hidden;
	position: absolute;
	top: 1;
	left: 0;
}
ul.dropdown ul li {
	font-weight: normal;
	border-bottom: 1px solid #ccc;
	float: none;
}
/* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a {
	border-right: none;
	width: 100%;
	display: inline-block;
} 

ul.dropdown ul ul {
	left: 100%;
	top: 0;
}
ul.dropdown li:hover > ul {
	visibility: visible;
}

.cms-drop-area {
    position:absolute;
	width:100%;
	left:0px;
	height: 100px;
	z-index:2;
    background:#FF9797;
	text-align:center; 
}
.cms-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.cms-drop-area-active {
	background:#FF7171;
}
.cms-upload-spinner {
	background:url("/images/ajax-loader.gif") no-repeat;
	width:20px;
	height:20px;
	display:inline-block;
}
